body {
  background-color: #f6f9fc;
}

body,
input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.wrapper {
  width: 90%;
  max-width: 600px;
  margin: 32px auto;
}

h1 {
  color: #6772e5;
  font-weight: 900;
}

p {
  color: #1f4284;
  margin-bottom: 32px;
}

#url,
#width,
#height {
  border: none;
  padding: 24px;
  color: #666;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.12);
  flex: 1 1;
  border: 3px solid #fff;
  outline: none;
  border-radius: 3px;
  transition: all .25s ease;
}

#url:focus,
#width:focus,
#height:focus {
  border-bottom-color: #24b47e;
}

#url {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

.res {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.res span {
  margin: 0 16px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  display: block;
  margin: 32px 0;
  color: #24b47e;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

/*.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
